<%- include("template/cabecera",{tituloWeb:"index",link:"CASA"}) %>    
        <h1 >EJS</h1>
        <h2 class="text-warning h3"><%= titulo %> </h2>
        
        <div class="row m-0">
                <img src="/img/icono ingTime.png" alt="" class="col-3 m-auto my-3">
        </div>
        

        <%- include("template/footer") %>
   
