<%- include("template/cabecera",{tituloWeb:"servicios",link:"faro" }) %>

        <h1 class="text-info">Estatico</h1>
        <h2><%= tituloServicios %></h2>
        <%- include("template/footer") %>
